@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}


body {
    animation: fadeIn ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}



.fade-in-section {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.fade-in {
  opacity: 1;
}

.music {
  display: none;
}


@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&display=swap');

@layer components {
  .container {
    display: flex;
    height: 100vh;
  }

  .fixed-left {
    /* position: fixed; */
    height: 100vh;
    background: url('/public/images/left-bg.png');
    /* background-size: cover; */
    width: 60%;
  }

  .scrollable-right {
    overflow-y: auto;
    height: 100vh;
    width: 40%;
  }
}